body {
  color: #222;
  background: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0px auto;
}
.container{
  margin: 0 auto;
}
.header{
  min-width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;
 background: darkslateblue;
  margin-bottom: 20px;
  overflow: hidden;

}
.header-title {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto;
}

.card {
  margin: 5px 10px;
}

.small-card{
  position: relative;
  margin: 10px auto;
  box-shadow: -1px 5px 10px -12px black;
}
.match-date {
  font-size: 10px;
}
.league-country {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.fixture-name{
  color: darkslateblue;
}

.prediction-badge {
  background: darkslateblue;
  padding: 8px;
}
.odds-text{
  padding-left: 5px;
  padding-top: 5px;
}