body {
  color: #222;
  background: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 10px auto;
}

.heading {
  text-align: center;
}

.card {
  margin: 5px 10px;
}

.small-card{
  position: relative;
  margin: 10px auto;
  box-shadow: -1px 5px 10px -12px black;
}
.match-date {
  font-size: 12px;
}
.league-country {
  font-weight: bold;
}

.fixture-name{
  color: darkslateblue;
}

.prediction-badge {
  background: darkslateblue;
  padding: 8px;
}
.odds-text{
  padding-left: 5px;
  padding-top: 5px;
}