body {
  color: #222;
  background: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0 auto;
}

.heading {
  text-align: center;
}

.card {
  margin: 5px 10px;
}

.small-card{
  position: relative;
  margin: 0 auto;
  margin-top: 5px;
  
}
.odds-text{
  padding-left: 5px;
  padding-top: 5px;
}